body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover
}

body * {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#principal {
  border: 4px solid black;
  width: 393px;
  height: 852px;
  margin: 56px auto 0;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

#secundaria {
  margin: 62px 7px;
}

.one {
  list-style: none;
  font-size: 30px;
  position: relative;
  bottom: 27px;
  right: 17px;
}

.two {
  list-style: none;
  font-size: 20px;
  position: relative;
  right: 17px;
  bottom: 22px;
}

.tree {
  list-style: none;
  position: relative;
  right: 17px;
  bottom: 17px;
}

.four {
  color: black;
  font-size: 24px;
  list-style: none;
  position: relative;
  right: 19px;
  bottom: 10px;
  border: 2px solid #dfaeae;
  border-radius: 10px;
  padding: 10px;
  background-color: #DFAEAE;
}

input[type="email"] {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  bottom: 4px;
  left: 4px;
}

.email {
  position: relative;
  top: 5px;
  left: 127px;
}

.five {
  list-style: none;
  position: relative;
  right: 17px;
  bottom: 11px;
}

.six {
  color: black;
  font-size: 24px;
  list-style: none;
  position: relative;
  right: 19px;
  bottom: 10px;
  border: 2px solid #dfaeae;
  border-radius: 10px;
  padding: 10px;
  background-color: #DFAEAE;
}

input[type="password"] {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  bottom: 4px;
  left: 4px;
}

.senha {
  position: relative;
  top: 5px;
  left: 125px;
}

.juntos {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-around; 
  font-size: 15px;
  font-weight: bold;
  top: 5px;
  padding-left: 4px;
  /* border: 2px solid red; */
}

.caixa {
  list-style: none;
  padding: 1px;
  margin: 50px;
  position: relative;
  right: 40px;
  bottom: 72px;
  border-radius: 7px;
  background-color: #cf5c5c;
  width: 29px;
  height: 28px;
  cursor: pointer;
}

#cadastro {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.branco {
 transform: translateY(-155%);
  list-style: none;
  border: 2px solid black;
  color: red;
  width: 171px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 29px;
}

.vermelho {
  transform: translateY(-155%);
  list-style: none;
  border: 2px solid red;
  background-color: red;
  color: white;
  width: 171px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 7px;
}

#final {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-220%);
  padding: 2px;
}

 .facebook {
  width: 50px;
  height: 50px;
  cursor: pointer;
} 

.google {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.position {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  bottom: 30px;
}